body{
    color:red;
}
h1 {
    font-size: 2.5em; /* 字體大小 */
    color:red;      /* 字體顏色 */
    text-align: center; /* 置中對齊 */
    margin-top: 20px;  /* 上方間距 */
}
h2 {
    font-size: 2em; /* 字體大小 */
    color:blue;      /* 字體顏色 */
    text-align: center; /* 置中對齊 */
    margin-top: 20px;  /* 上方間距 */
}

h3 {
    font-size: 2em; /* 字體大小 */
    color:blue;      /* 字體顏色 */
    text-align: center; /* 置中對齊 */
    margin-top: 20px;  /* 上方間距 */
}